.teams {
    background: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.teams .team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 1px;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 2px;
}

.teams .team .connection-status {
    display: inline-block;
    min-width: 32px;
    min-height: 32px;
    background-image: url("../image/connection.svg");
    margin-right: 5px;
}

.teams .team.disconnected .connection-status {
    background-position: left;
}

.teams .team.connected .connection-status {
    background-position: right;
}

.teams .team.disconnected .name {
    font-style: italic;
}
